@import 'common/colors';
@import 'common/globals';
@import 'common/mixins';

.list-view {
    height: 100%;
    overflow: auto;

    .loading-data,
    .load-more-data {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .loading-data {
        height: 150px;
    }

    .load-more-data {
        @include colored-button($adc-button-default-dark, true, $adc-button-default-text);

        border-radius: $border-radius-px;
        cursor: pointer;
        font-size: $font-size-lg;
        height: $base-grid-6x;
        margin-bottom: $base-grid-2x;
        text-transform: uppercase;
        top: $base-grid-2x;
    }
}